.bar {
    display: block;
    width: 7px;
    height: 1.3em;
    margin-left: 0px;
}
#protocols .bar { background-color: orange; }
#channels  .bar { background-color: crimson; }

.ortho {
    color: blueviolet;
    font-weight: bolder;
}
.no_pad { 
	padding:0;
}
.router {
    color: white;
    font-weight: bold;
    background-color: darkmagenta;
}



#channels th,td,
#protocols th,td,
#topology th,td {
	border:1px solid black;
    margin-left:0;
    padding-right:5px;
    padding-left:2px;
}

th.header 	{	background-color: lightblue; 		}
th.subheader{ 	background-color: mediumaquamarine; }

input.button {
	margin-top:2px;
}

#channels table,
#protocols table,
#topology table {
	border-collapse: collapse;
	margin-top:4px;
	font-size:12px;
	margin-left:0;
} 

#channels tr:hover,
#protocols tr:hover,
#topology tr:hover {
	background-color: #f5f5f5
}

#channels p,
#protocols p,
#topology p {
	text-decoration:underline;
}

.tip{
	text-decoration:none;
	color:blue;
}

#topology td.ssid{
	color:blue;
}
