

/******************************** FEATURE 1 ******************************/

#routers_uptime{
	overflow:auto;
	font-size:10px;
}

#routers_uptime th,td{
	border:1px solid black;
    margin-left:0;
}

#routers_uptime table{
	border-collapse: collapse;
	margin-top:4px;
} 

#routers_uptime p{
	text-decoration:underline;
}

/******************************** FEATURE 2 ******************************/

#thresholds{
	overflow:auto;
	font-size:10px;
}

#thresholds table,th,td{
	border:1px solid black;
    border-collapse: collapse;
    margin-left:0;
}

#thresholds table{
	margin-top:4px;
} 

#thresholds p{
	text-decoration:underline;
}

#thresholds td.data-center{
	color:darkgrey;
	text-align:center;
}

#thresholds td.data{
	color:darkgrey;
}

#thresholds td.ssid{
	color:blue;
}


