#routers_uptime{
	font-size:10px;
}

#routers_uptime table,th,td{
	border:1px solid black;
    border-collapse:collapse;
    margin-left:0;
}

#routers_uptime table{
	margin-top:4px;
} 

#routers_uptime p{
	text-decoration:underline;
}


/*
#header h1 a, #header h1 a:visited
{
position:absolute;
text-align:left;
color:white;
font-size:43px;
text-decoration:none;
left:14px;
top:18px;
}


#header h2
{
position:absolute;
text-align:right;
color:#EAEAEA;
left:490px;
top:38px;
width:400px;
}

#mainpic
{
background-image:url(images/main.jpg);
background-repeat:no-repeat;
width:900px;
height:354px;
}



.off
{
color:crimson;
}
*/
