.bar {
    display: block;
    width: 2px;
    height: 8px;
    margin-left: 0px;
    padding:0;
    background-color: gold;
}

.bar-noshow{
    display: block;
    width: 2px;
    height: 8px;
    margin-left: 0px;
    padding:0;
    background-color: white;
}

th.header{		background-color: lightblue; }
th.header2{ 	background-color: purple; color:white}
th.subheader{ 	background-color: mediumaquamarine; }




td.cols{
	vertical-align:bottom;
	border:none;
	padding:0;
}

td.y_axis{
	height:auto;
	text-align:right;
	white-space:nowrap;
	color:blue;
	margin-right:3px;
}

td.border{
	border-bottom:3px solid blue;
	border-left:3px solid blue;
}

td.pad{
	width:73px;
}

td.x_axis{
	vertical-align:top;
	color:blue;
}


table.cols_container{
	border-spacing:0;
}

td.around_div{
	padding:0;
	border:none;
}



td.allin{
	border:none;
}


table.align-left{
	margin-left:0;
	margin-bottom:10px;
}

input{
	width:200px;
}

input.button {
	margin-left:1px;
	margin-top:2px;
	width:80px;
	margin-bottom:30px;
}

#flows table,
#load table {
	border-collapse: collapse;
	margin-top:4px;
	font-size:12px;
	margin-left:0;
} 

#flows th, #flows td,
#load th {
	border:1px solid black;
    margin-left:0;
    padding-right:5px;
    padding-left:2px;
}

#flows tr:hover,
#load tr:hover {
	background-color: #f5f5f5
}


#resp_dt p,
#load p {
	text-decoration:underline;
}

p.legend{
	width:100px;
	display:inline;
	color:white;
	margin-left:5px;
}




